<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/5c4beab1-554f-486c-a1ec-fc2a940fe3a0/resourceGroups/DefaultResourceGroup-EA/providers/Microsoft.ContainerRegistry/registries/DemoProjectWeb20210726174200</ResourceId>
    <ResourceName>DemoProjectWeb20210726174200</ResourceName>
    <ResourceGroup>DefaultResourceGroup-EA</ResourceGroup>
    <Subscription>Pay-As-You-Go Dev/Test</Subscription>
    <RegistryUrl>https://demoprojectweb20210726174200.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1cc211aa-3eb9-4d2b-95db-ede21fdec822</ProjectGuid>
  </PropertyGroup>
</Project>